body{
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
    background-color: #62df70; 
    color: #333; 
}
header { 
    background-color: #258918; 
    color: white; 
    text-align: center; 
    padding: 1rem; 
} 
